<Files .poptrayrc>
Deny from all
</Files>
EnableMMAP Off
FileETag None
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/css text/javascript application/x-javascript application/x-httpd-php
</ifModule>
<IfModule mod_headers.c>
Header unset ETag
Header set X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
<FilesMatch "\.(html|php)$">
Header set X-Powered-By "AltTrayPlus/1.2.8"
Header append Author "Gari-Hari LLC."
</FilesMatch>
<FilesMatch "\.(css|js|map|png|svg)$">
ExpiresActive On
ExpiresDefault "access plus 1 weeks"
Header append Vary: Accept-Encoding
</FilesMatch>
</IfModule>
